{% extends 'base.html.twig' %}

{% block title -%}
    Association - {{ page.title }}
{%- endblock title %}

{% block body %}
    
    {# Breadcrumb #}
    {% include "_includes/breadcrumb.html.twig" %}

    <article class="blog-article">
        <h2>{{ page.title }}</h2>

        <div class="article-description">{{ page.body|raw }}</div>
    </article>

{% endblock body %}
