{% extends 'members/members_layout.html.twig' %}

{% block title -%}
    Espace membres - Listes des membres
{%- endblock title %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Listes des membres</h1>
    </div>

    {% if users is not empty %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>NOM</th>
                    <th>Email</th>
                    <th>Dernière connexion</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.firstname }} {{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.lastLogin|date('d/m/Y à H:i') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock body %}
