{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% block title -%}Blog - Créer un nouvel article de blog{%- endblock title %}

{% block body %}
<div class="row-fluid">
	<div class="span3">
		{# Barre de navigation left #}
	  	{% include "AmlWebBundle::Admin/Navigation/content_subnav.html.twig" %}  
	</div>		


	<div class="span5">
		<h1>Créer un nouvel article de blog</h1>
		
		<form action="{{ path('admin_content_blog_create') }}" method="post" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    <p>
		        <button class="btn btn-primary" type="submit">Enregistrer</button>
		    </p>
		</form>
		
		<ul class="record_actions">
		    <li>
		        <a href="{{ path('admin_content_blog') }}">
		            Retour à la liste des articles
		        </a>
		    </li>
		</ul>
	</div>
</div>

	{# CONFIG CKEDITOR #}
  	{% include "AmlWebBundle::Admin/Partial/ckeditor.html.twig" with {'target': 'aml_bundle_WebBundle_blogtype_body'}  %} 

{% endblock body %}
