{# Bloc Google Map #}
<div id="map"></div>

<script type="text/javascript"
        src="http://www.google.com/jsapi?key=ABQIAAAA7ctIOuf_bRTX5e3s5FML3RTv6REnaDP1HZPJSiWfzG2-frHLHhQHdgyHYK1JRedmw0YKruhurYocog"></script>
<script type="text/javascript">
    google.load("maps", "2");

    jQuery(function () {
        if (GBrowserIsCompatible()) {
            var map = new GMap2(document.getElementById('map'));
            var marker = new GMarker(new GLatLng(45.8093292, 1.2218343));
            var html = '<div>' +
                    '<strong>AML87</strong>' +
                    '</div>';

            map.setCenter(new GLatLng(45.8093292, 1.2218343), 13);
            map.addControl(new GSmallMapControl());
            map.addOverlay(marker);
            marker.openInfoWindowHtml(html);
        }
    });
</script>
