{% extends 'members/members_layout.html.twig' %}

{% block title -%}
    Espace membres - Edit Profile
{%- endblock title %}

{% block body %}
    <h1 class="page-header">Edit Profile</h1>
    <div class="row">
        {% block fos_user_content %}
            {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{%- endblock body %}
