{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% block title -%}
    Membre - Ajouter un nouveau membre
{%- endblock title %}

{% block body %}
<div class="row-fluid">
	<div class="span3">
		{# Barre de navigation left #}
	  	{% include "AmlWebBundle::Admin/Navigation/content_subnav.html.twig" %}  
	</div>		


	<div class="span5">
		<h1>User creation</h1>

		<form action="{{ path('admin_user_create') }}" method="post" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    <div class="form-actions">
				<button class="btn btn-primary" type="submit">Enregistrer</button>
			</div>
		</form>
		
		<ul class="record_actions">
		    <li>
		        <a href="{{ path('admin_user') }}">
		            Back to the list
		        </a>
		    </li>
		</ul>
	</div>
</div>
{% endblock body %}
