{# Bloc Contact form #}

<div id="contact-block">
    <h3>Formulaire de contact</h3>

    <form id="container-form-contact-us"
          action="{{ path('aml_contact_us_post') }}" method="post" {{ form_enctype(form) }}>

        {{ form(form) }}

    </form>

</div>