
.git
.github
.gitignore
.idea
.vscode
.editorconfig


.php-version
.sensiolabs.yml

**/.env
**/.env.local
**/.DS_Store
*.md
docker-compose.*
hooks

node_modules
vendor
var/cache
var/log
var/sessions
var/*.db
var/.php_cs.cache
