# Bootstrap
# Symfony directories
/web/uploads/*

# Configuration files
/app/SymfonyRequirements.php
/bin/security-checker
/bin/sql-formatter
/bin/doctrine*
/web/config.php
/composer.lock
/composer.phar


/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/sessions/*
/vendor/
/app/config/parameters.yml