# phpstorm
.idea
.idea/*

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/SymfonyRequirements.php
bin/doctrine*
web/config.php
composer.lock
composer.phar
