# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
*/sessions/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/SymfonyRequirements.php
bin/security-checker
bin/sql-formatter
bin/doctrine*
web/config.php
composer.lock
composer.phar
