version: '2'

services:
  web:
    build: docker/dev/web
    env_file: docker-env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/apache2/sites-available:consistent
      - /var/www/aml87:cached
      - /var/www/aml87/var/cache
      - /var/www/aml87/var/log
      - /var/www/aml87/var/sessions
    tty: true

  mysql:
    image: mariadb:10.2
    env_file: docker-env
    ports:
      - "3306:3306"
    volumes:
      - /var/lib/mysql:cached
    tty: true

  blackfire:
    image: blackfire/blackfire
    env_file: docker-env
    ports:
      - "8707:8707"

  nodejs:
    build: docker/dev/nodejs
    env_file: docker-env
    ports:
     - "8888:8888"
    volumes_from:
     - web

  mailcatcher:
    image: schickling/mailcatcher
    env_file: docker-env
    ports:
      - "1080:1080"

  rabbitmq:
    image: rabbitmq:3-management
    env_file: docker-env
    ports:
      - "15672:15672"
    tty: true
    restart: always

