{% extends 'members/members_layout.html.twig' %}

{% block title -%}
    Espace membres - Edit Profile
{%- endblock title %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit Profile</h1>
    </div>
    <div class="row">
        <section>
        {% block fos_user_content %}
            {% include "bundles/FOSUserBundle/Profile/edit_content.html.twig" %}
        {% endblock fos_user_content %}
        </section>
    </div>
{%- endblock body %}
