{% extends 'members/members_layout.html.twig' %}


{% block title -%}
    Espace membres - Show Profile
{%- endblock title %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Show Profile</h1>
    </div>
    <div class="row">
        {% block fos_user_content %}
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{%- endblock body %}
