{% extends 'base.html.twig' %}

{% block title -%}

    Blog - Liste des articles

{%- endblock title %}

{% block body %}

    {# Breadcrumb #}
    {% include "_includes/breadcrumb.html.twig" %}

    <div class="contenu-page">

        {% if entities is not empty %}
            {% for entity in entities %}

                {# articles #}
                <article class="blog-article{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}">
                    {% include "AmlBlogBundle::Blog/article.html.twig" %}
                </article>

            {% endfor %}

            {# Pagination #}
            {% include "AmlBlogBundle::Blog/pagination.html.twig" %}

        {% else %}
            <h1>Blog</h1>
            <p>Aucun article de blog publié.</p>
        {% endif %}
    </div>

{% endblock body %}

{% block columnRight %}
    {# Liste des catégories #}
    <div class="side-bloc no-border">
        {% include "AmlBlogBundle::Blog/blocCategories.html.twig" %}
    </div>

    {# Liste des tags #}
    <div class="side-bloc">
        {% include "AmlBlogBundle::Blog/blocTags.html.twig" %}
    </div>
{% endblock columnRight %}
