{% extends "AmlWebBundle::layout.html.twig" %}

{% block title -%}

    Blog - Liste des articles

{%- endblock title %}

{% block body %}
<div id="col-left" class="two-cols-content">

	<div class="contenu-page">	

		{% if entities is not empty %}
			{% for entity in entities %}
			    	
				{# articles #}
	  			{% include "AmlWebBundle::Blog/article.html.twig" %} 
			        
			{% endfor %} 
			 
			{# Pagination #}
	  		{% include "AmlWebBundle::Blog/pagination.html.twig" %}
		
		{% else %}	
			<h1>Blog</h1>
			<p>Aucun article de blog publié.</p>
		{% endif %}
	</div>
	
</div>
<div id="col-right">

	{# Liste des catégories #}
	<div class="side-bloc no-border">
		{% include "AmlWebBundle::Blog/blocCategories.html.twig" %} 
	</div>
	
	{# Liste des tags #}
	<div class="side-bloc">
		{% include "AmlWebBundle::Blog/blocTags.html.twig" %} 
	</div>
</div>
{% endblock body %}
