parameters:
    database_driver:   pdo_mysql
    database_host:     ~
    database_port:     ~
    database_name:     aml87_test
    database_user:     ~
    database_password: ~

    mailer_transport:  ~
    mailer_user:       ~
    mailer_password:   ~
    mailer_host:       ~

    locale:            fr
    secret:            5c35b51cb4b84b2d8abff501b13297cb48049429
    project_name:      AML87
    site_name:         AML87

    admin_email:      ~

    # Google Analytics
    ga_account_id:    ~

    # Google API
    google_app_name: ~
    google_developer_key: ~

twig:
    globals:      
        project_name: AML87
