/* ---------- TITRES ---------- */
h1, h2 {
    line-height: 28px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
}
/* home */
#home h1{ font-size: 0px; }

#home h2 {
	font-size: 24px;
	color: #fff;
	text-align: center;	
}

#home h3, #home h3 a, #home h3 a:visited{
	text-decoration:none;	
	font-size: 20px;
	margin-bottom:2px;
	color:#FF0066;
}

#home h3 a:hover{ color: #B2B2B2; }

#home h4 { font-size: 16px; }
/* page */
h1 {
	font-size: 24px;
	color: #FF0167;
	text-align: center;	
}
h2, h2 a, h2 a:visited {
	font-size: 20px;
	/*margin-bottom:2px;*/
	color:#FF0066;
	text-decoration:none;
}
h2 a:hover{ color: #B2B2B2; }

h3{ font-size:16px; line-height: 23px; }
h4{ margin:0; padding:0; }
/* ---------- FIN - TITRES ---------- */

ul li{
	 list-style:none;
}
.text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: #08079A;
	text-align: justify;
}

/* accueil bloc Blog */
#discographie-last-album-block h3 {
	color:#FF9900;	
}

.blog-article-block h2 a,.blog-article-block h2 a:visited {
	color: #FF0066;
	text-decoration:none;
}



#block-concert h3, #block-concert h3 a, #block-concert h3 a:visited {
	background:transparent url(../images/general/fond-next-concert.png) repeat-x scroll 0 0;
	color:#FFFFFF;
	font-weight:bold;
	text-align: center;
	text-decoration:none;	
}

a { color: red; }
/*a:visited { color: red; }*/


#text {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #08079A;
	font-size: 15px;
	text-align: justify;
	width: 97%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 2%;
}
#musicalement {
	margin-left: 39%;
}


#livredor{
	float: left;
	padding-right: 8px;
}

.instructions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	color: navy;
}

.textecentre {
	
	text-align: center;
}

a.lien {
	color : #0000FF;
}

a.lien:hover {
	color: #F95E16;
}
	
a.lien2 {
	color : #FF0000;
	font-size: 11px;
}

a.lien2:hover {
	color: #FF9933;
}
.nouveau
{
	font-family : Arial, Helvetica, sans-serif;
	font-weight: bold;
	
}

.chemin
{
	text-align: left;
	padding-left: 10%;
	color: #666666;

}

a.all-articles{
	background-color: #FF0066;
	position: relatif;
	padding:2px 5px;	

	color : #FFFFFF;
	text-decoration:none;
}

/* --- Agenda --- */
.date { font-weight: bold; text-transform:capitalize; }
.concert-next .date{ color : #FF0000; }
/*.concert-prev{ color : #999999; }*/
/* --- Fin Agenda --- */
