{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title -%}
    Connexion -
{%- endblock title %}

{% block body %}
    <div id="col-left" class="two-cols-content">

        <div class="contenu-page">

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>

    </div>
    <div id="col-right">

    </div>
{%- endblock body %}
