{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% block title -%}
    Liste des évènements
{%- endblock title %}

{% block body %}
    <div class="row-fluid">
        <div class="span3">
        </div>

        <div class="span5">

            <div class="container-switch-view pull-right">
                <a href="{{ path('admin_agenda', {mode:'calendar'}) }}"
                   class="btn{% if mode == 'calendar' %} btn-primary{% endif %}">Calendrier</a>
                <a href="{{ path('admin_agenda', {mode:'list'}) }}"
                   class="btn {% if mode == 'list' %} btn-primary{% endif %}">Liste</a>
            </div>

            <h1>Agenda</h1>

            <div class="form-actions">
                <a class="btn btn-link" href="{{ path('admin_agenda_new_event') }}">
                    <i class="icon-plus"></i> Créer un évènement
                </a>
            </div>




            {% if mode == 'calendar' %}




                {# Vue calendrier #}
                {% include "AmlEvenementsBundle::Admin/Agenda/index/agenda.html.twig" %}
            {% elseif mode == 'list' %}

                {# Vue liste #}
                {% include "AmlEvenementsBundle::Admin/Agenda/index/list.html.twig" %}
            {% endif %}
        </div>
    </div>
{% endblock body %}
