{% extends 'base.html.twig' %}

{% block title -%}
    Liens -
{%- endblock title %}

{% block body %}
    <div class="contenu-page">
        <h1>Liens</h1>

        <ul id="list-links">
            {% for entity in entities %}
                <li>
                    {{ entity.description }} : <a href="http://{{ entity.url }}" target="_blank"
                                                  title="{{ entity.title }}">{{ entity.url }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>
{%- endblock body %}
