{% extends "AmlWebBundle::layout.html.twig" %}

{% block title -%}
    Blog - {{ entity.title }}
{%- endblock title %}

{% block body %}

    <div id="col-left" class="two-cols-content">
        {# Breadcrumb #}
        {% include "AmlWebBundle::Partial/breadcrumb.html.twig" %}

        <article class="blog-article">
            <h2>{{ entity.title }}</h2>

            <div class="article-description">{{ entity.body|raw }}</div>
        </article>

    </div>
    <div id="col-right">
        <div class="side-bloc no-border">
            {# Next Concert #}
            {{ render(controller('AmlEvenementsBundle:Agenda:nextConcert')) }}
        </div>
    </div>
{% endblock body %}
