// Bootstrap

// customize some Bootstrap variables
//$brand-primary: darken(#428bca, 20%)
//
//$icon-font-path: "~assets/fonts/bootstrap/"

$aml-css-images: "assets/images"

//// set if you're also including font-awesome
//$fa-font-path: "~font-awesome/fonts"


@import "~bootstrap/scss/bootstrap"

/* ---- ESPACE MEMBRES ---- */
ul.espace-membre-nav
  margin: 70px 0 0 0
  padding: 0


.espace-membres-agenda-saison-prev
  left: 437px
  position: absolute
  top: 20px
  text-decoration: none
  font-size: 16px


.espace-membres-agenda-saison-next
  font-size: 16px
  position: absolute
  right: 220px
  text-decoration: none
  top: 20px


ul.espace-membres
  position: relative
  margin-left: auto
  margin-right: auto
  width: 75%


.espace-membres li
  display: block
  float: left
  height: 185px
  list-style: none outside none
  margin: 5px
  position: relative
  text-align: center
  width: 210px


.espace-membres li:HOVER
  background-color: #EFEFEF


.espace-membres li a
  color: #000000
  font-size: 16px
  display: block
  height: 28px
  padding-top: 126px
  width: 132px
  margin-left: auto
  margin-right: auto
  margin-top: 10px
  text-decoration: none


.espace-membres li a:HOVER
  color: red


ul.espace-membres li a.member-agenda-link
  background: url($aml-css-images + "/icons/event128.png") no-repeat scroll 0 0 transparent


ul.espace-membres li a.member-profil-link
  background: url($aml-css-images + "/icons/contact128.png") no-repeat scroll 0 0 transparent


ul.espace-membres li a.member-doc-link
  background: url($aml-css-images + "/icons/folder128.png") no-repeat scroll 0 0 transparent


ul.espace-membres li a.member-users-link
  background: url($aml-css-images + "/icons/members128.png") no-repeat scroll 0 0 transparent


ul.espace-membres li a.member-history-link
  background: url($aml-css-images + "/icons/history128.png") no-repeat scroll 0 0 transparent


ul.espace-membres li a.member-library-link
  background: url($aml-css-images + "/icons/library128.png") no-repeat scroll 0 0 transparent


#espace-membre-left
  float: left
  width: 165px


#espace-membre-right
  float: right
  width: 750px


#espace-membre-right tbody
  text-align: left


#espace-membre-right tbody td
  padding: 3px


#espace-membre-rdv-tab tbody td:FIRST-CHILD
  width: 80px


/* Bibliothèque de partition */
.score-list table
  width: 100%


/* Liste membres */
.member-list .member-name, .member-list .member-city
  text-transform: uppercase


.member-list th
  width: 15%


/* Liste des mes présences */
.list-mes-presences table
  width: 100%