{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% form_theme form 'AmlWebBundle:Form:aml_theme.html.twig' %}

{% block title -%}Blog - Créer une Catégorie{%- endblock title %}

{% block body %}
    <div class="row-fluid">
        <div class="span3">
            {# Barre de navigation left #}
            {% include "AmlWebBundle::Admin/Navigation/content_subnav.html.twig" %}
        </div>


        <div class="span5">
            <h1>Blog - Créer une catégorie</h1>

            <form class="form-horizontal" action="{{ path('admin_content_blog_categories_create') }}"
                  method="post" {{ form_enctype(form) }}>
                {{ form_rest(form) }}


                <div class="form-actions">
                    <a class="btn btn-default" href="{{ path('admin_content_blog_categories') }}">
                        <i class="icon-arrow-left"></i> Retour à la liste des catégories
                    </a>

                    <button class="btn btn-primary pull-right" type="submit">Enregistrer</button>
                </div>
            </form>


        </div>
    </div>

{% endblock body %}