{# Category filters #}
<div class="side-bloc no-border">
{#    {% include "blog/_includes/bloc_categories.html.twig" %}#}
</div>

{# Tags filters #}
<div class="side-bloc">
{#    {% include "blog/_includes/bloc_tags.html.twig" %}#}
</div>
