{% extends 'base.html.twig' %}

{% block title -%}
    Contactez-nous
{%- endblock title %}

{% block body %}

    {# Breadcrumb #}
    {% include "_includes/breadcrumb.html.twig" %}

    <h2>Contactez-nous</h2>

    <p>Nous sommes toujours à la recherche de nouveaux talents, alors n'hésitez pas à nous contacter
        pour vous joindre à nous ou encore à nous contacter pour organiser des concerts.</p>

    {# Map #}
    {% include "contact/index/google_map.html.twig" %}

    <div id="bloc-coordonnees">
        <h3>Téléphone</h3>

        <p>Eric CHAUPITRE<br/>au 05.87.75.70.31 ou au 06.14.95.77.80</p>

        <h3>Adresse</h3>

        <p><strong>Avenir Musical du Limousin</strong><br/>Rue Marcel LALU<br/>87170 ISLE</p>
    </div>

    {# Contact Form #}
    {% include "contact/index/contact_form.html.twig" %}

{%- endblock body %}

{% block javascripts %}
    {{ encore_entry_script_tags("app") }}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("container-form-contact-us").submit();
        }
    </script>
{% endblock %}