{% extends "AmlWebBundle::layout.html.twig" %}

{% block title -%}
    Discrographie - {{ entity.title }}
{%- endblock title %}

{% block body %}
<div id="col-left" class="two-cols-content">

	<div class="contenu-page">
	
		<div class="discographie-bloc-titre">
			<h2 class="discographie">{{ entity.title }}</h2>
			<span class="disc-date-sortie">Date de sortie : {{ entity.date|date('d-m-Y') }}</span>
		</div>
		
		<div class="disc-presentation">
			<div class="disc-pochette-list">
				image
			</div>
			<div class="disc-description-list">
				{{ entity.description|raw }}				
			</div>
		</div>
		
		<div class="disc-list-tracks">
			<h3>Composition du disque</h3>
			<table class="sticky-header" style="position: fixed; top: 0px; width: 596px; left: 492.5333251953125px; visibility: hidden; "><thead><tr><th style="width: 57px; ">N°piste</th><th style="width: 324px; ">Titre</th><th style="width: 176px; ">Compositeur(s)</th> </tr></thead></table><table class="sticky-enabled sticky-table">
		 		<thead class="tableHeader-processed"><tr><th>Piste n°</th><th>Titre</th><th>Compositeur(s)</th> </tr></thead>
				<tbody>
				 <tr class="odd"><td>1</td><td>Galway's Poem</td><td>Cédric Aupetit</td> </tr>
				 <tr class="even"><td>2</td><td>Thème de Borsalino</td><td>Claude Bolling</td> </tr>
				 <tr class="odd"><td>3</td><td>The Lord of The Dance</td><td>Ronan Padraig Hardiman</td> </tr>
				 <tr class="even"><td>4</td><td>Danse Macédonienne</td><td>Adolf Götz</td> </tr>
				 <tr class="odd"><td>5</td><td>Paris en Colère</td><td>Maurice Jarre</td> </tr>
				 <tr class="even"><td>6</td><td>L'Île Hélène</td><td>Yvan Cassar</td> </tr>
				 <tr class="odd"><td>7</td><td>La Danza</td><td>Gioacchino Rossini</td> </tr>
				 <tr class="even"><td>8</td><td>Les Olivettes</td><td>Claude Thomain</td> </tr>
				 <tr class="odd"><td>9</td><td>España Cañi</td><td>Pascual Marquina</td> </tr>
				 <tr class="even"><td>10</td><td>O Santo de Polvora</td><td>Traditionnel galicien</td> </tr>
				 <tr class="odd"><td>11</td><td>Concerto n°8</td><td>Arcangelo Corelli</td> </tr>
				 <tr class="even"><td>12</td><td>Rhapsodie Roumaine n°1</td><td>George Enescu</td> </tr>
				 <tr class="odd"><td>13</td><td>Luz y Sombra</td><td>Astor Piazzolla</td> </tr>
				 <tr class="even"><td>14</td><td>Western Medley : Le Bon, La Brute et le Truand</td><td>Ennio Morricone</td> </tr>
				 <tr class="odd"><td>15</td><td>Western Medley : Il était une fois la Révolution</td><td>Ennio Morricone</td> </tr>
				 <tr class="even"><td>16</td><td>Western Medley : Alamo - Le Bleu de l'été</td><td>Dimitri Tiomkin</td> </tr>
				 <tr class="odd"><td>17</td><td>Western Medley : L'Homme à l'harmonica</td><td>Ennio Morricone</td> </tr>
				 <tr class="even"><td>18</td><td>Western Medley : Les Sept Mercenaires</td><td>Elmer Bernstein</td> </tr>
				</tbody>
			</table>
		</div>
		
		
	</div>
</div>

<div id="col-right">

</div>
{% endblock body %}
