{% extends "IcPslwebBundle::layout.html.twig" %}
	
{% block title %}
	PSL - Confirmation inscription
{% endblock title %}
	
{% set aside_blocks = true %}
{% set sidebar = true %}

{% block body %}

	<h1>Activation inscription</h1>
	{% if true == validToken %}
		Votre compte a bien été activé avec succès.
	{% elseif false == validToken %}
		Invalid Token
	{% endif %}

{% endblock body %}