{% extends "IcPslwebBundle:Secure:layout.html.twig" %}


{% block body %}
<div class="content-block">
	<h1>Mot de passe oublié</h1>
	
	<p>Pour obtenir un nouveau mot de passe, saisissez votre identifiant ci-dessous.
	Votre nouveau mot de passe vous sera envoyé par courriel.</p>
	
	<form action="{{ path('forgotpassword') }}" method="post" {{ form_enctype(form) }}>
    	{{ form_widget(form) }}

	    <input type="submit" class="btn btn-primary" value="Envoyer">
	</form>
</div>
{% endblock body %}