version: "3.8"

networks:
  internal:
    external: false

services:
  nginx:
    container_name: aml87_nginx
    image: nginx:alpine
    volumes:
      - ./docker/docker-full/nginx/conf.d:/etc/nginx/conf.d:ro
      - php_socket:/var/run/php
      - app:/var/www/html
    expose:
      - "80"
    depends_on:
      - php-fpm
    networks:
      internal: ~
    restart: always

  php-fpm:
    container_name: aml87_php_fpm
    env_file: .env
    environment:
      - SYMFONY_ALLOW_APPDEV=0
      - APP_ENV=prod
      - APP_DEBUG=0
    image: aureliengiry/aml87-phpfpm:latest
    volumes:
      - app:/var/www/html
      - php_socket:/var/run/php
    networks:
      internal: ~
    restart: always

  mysql:
    container_name: aml87_mysql
    image: mariadb:10.2
    env_file: docker-env
    ports:
      - "3306:3306"
    volumes:
      - aml87-mysql-volume:/var/lib/mysql:cached
    networks:
      internal: ~
    restart: always

volumes:
  app:
  php_socket:
  aml87-mysql-volume:
    external: true
