{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% form_theme edit_form 'AmlWebBundle:Form:aml_theme.html.twig' %}

{% block title -%}
    Membre - Ajouter un nouveau membre
{%- endblock title %}

{% block body %}
<div class="row-fluid">
	<div class="span3">
		{# Barre de navigation left #}
	  	{% include "AmlWebBundle::Admin/Navigation/content_subnav.html.twig" %}  
	</div>		


	<div class="span5">
		<h1>User edit</h1>

        {% block fos_user_content %}
            {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
        {% endblock fos_user_content %}
		
		<ul class="record_actions">

		    <li>
		        <form action="{{ path('admin_user_delete', { 'id': entity.id }) }}" method="post">
		            {# form_widget(delete_form) #}
		            <button class="btn btn-danger" type="submit">Supprimer</button>
		        </form>
		    </li>
		</ul>
	</div>
</div>
{% endblock body %}