{% extends "AmlWebBundle::Admin/layout.html.twig" %}

{% form_theme form 'AmlWebBundle:Form:aml_theme.html.twig' %}

{% block title -%}
    Membre - Ajouter un nouveau membre
{%- endblock title %}

{% block body %}
<div class="row-fluid">
	<div class="span3">
		{# Barre de navigation left #}
	  	{% include "AmlWebBundle::Admin/Navigation/content_subnav.html.twig" %}  
	</div>		


	<div class="span5">
		<h1>Ajouter un membre</h1>

		<form class="form-horizontal" action="{{ path('admin_user_create') }}" method="post" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    <div class="form-actions">
                <a class="btn btn-link" href="{{ path('admin_user') }}">
                    <i class="icon-arrow-left"></i> Retour à la liste des membres
                </a>
				<button class="btn btn-primary pull-right" type="submit">Enregistrer</button>
			</div>
		</form>

	</div>
</div>
{% endblock body %}
