version: '2'

services:
  web:
    build: docker/dev/web
    env_file: docker-env
    ports:
      - "85:80"
      - "446:443"
    volumes:
      - ./docker/dev/web/extra/vhosts/aml87.conf:/etc/apache2/sites-available/aml87.conf:ro
      - ./docker/dev/web/extra/ssl:/etc/apache2/ssl:ro
      - ./docker/dev/web/extra/conf/custom-php.ini:/usr/local/etc/php/conf.d/custom-php.ini:ro
      - ./:/var/www/aml87:rw,cached
      - /var/www/aml87/var
    working_dir: /var/www/aml87
    tty: true

  mysql:
    image: mariadb:10.2
    env_file: docker-env
    ports:
      - "3306:3306"
    volumes:
      - ~/docker-shared-folder/aml87-data:/var/lib/mysql:cached
    tty: true

  blackfire:
    image: blackfire/blackfire
    env_file: docker-env
    ports:
      - "8707:8707"

  nodejs:
    build: docker/dev/nodejs
    env_file: docker-env
    ports:
      - "8888:8888"
    volumes_from:
      - web

  mailcatcher:
    image: schickling/mailcatcher
    env_file: docker-env
    ports:
      [ 1025, 1080 ]
      #- "1080:1080"

  rabbitmq:
    image: rabbitmq:3-management
    env_file: docker-env
    ports:
      - "15672:15672"
    tty: true
    #restart: always
